<!doctype html>
<html lang="en-us" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Graficas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/fonts.css">
    <!-- Se importan los estilos -->
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:8000/static/style.css">
</head>

<body>
    <header>
        <a class="logo" href="https://tec.iexe.edu.mx/mod/assign/view.php?id=28156" target="_blank" rel="noopener">
            IEXE Graficas
        </a>
        <p>Proyecto 5: Monitoreo del modelo</p>
    </header>
    <main>
        <div style="margin-top: 50px">
            <h1 style="margin-top: 20px">{{grafica3}}</h1>
            <div id="roc"></div>
        </div>
    </main>
    <!--Libreria para generar grafica d3 en la version 3 -->
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
     <!--Script para generar grafica roc -->
    <script src="http://127.0.0.1:8000/static/rocChart.js"></script>
    <!--Script que dispara el evento de la generación de la grafica roc -->
    <script src="http://127.0.0.1:8000/static/rocEvent.js"></script>
</body>

</html>